# Fichiers de backup
backup/
*.bak

# Dossiers de compilation
bin/
obj/
packages/

# Fichiers DLL et EXE
*.dll
*.exe

# Fichiers de log
App_Data/
*.log
*.txt

# Fichiers temporaires
*.tmp
*.temp
*.cache

# IDE
.deep-copilot
.postman
.vs/
.vscode/
.idea/

# Fichiers système
Thumbs.db
.DS_Store

# Fichiers sensibles
*.config.local
web.config.local
web.config
